#all-content-wrapper {
  margin-top: $site-header-height;
  z-index: 5;
  transition: all .3s ease-in-out;
  opacity: 1;
  overflow-x: hidden;
  @include MQ(L) {
    margin-left: $site-navigation-width;
  }
  &.navigation-open {
    transition: all .3s ease-in-out;
    transform:translateX(#{$site-navigation-width});
    opacity: .4;
    overflow-x: hidden;
    @include MQ(L) {
      opacity: 1;
      transform: translateX(0px);
      overflow-x: hidden;
    }
  }
}

main.main {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height:calc(100vh - #{$site-header-height * 2});
  @include MQ(XL) {
    width: 100%;
    margin-right: 0px;
    max-width: calc(100vw - #{$site-navigation-width * 2} - 20px);
    float: left;
    padding-left: 0px;
    padding-right: 0px;
  }
}

//note: article.content in single pages and div.content in section pages for improved semantics
.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  @include MQ(M){
  }
  @include MQ(L) {
    float:left;
    margin-left:5%;
    margin-right:auto;
    max-width: $content-max-width;
  }
  @include MQ(XL) {
    min-width: $content-max-width;
    max-width: 90%;
  }
}

header.content-header {
  clear: both;
  position: relative;
  width: 100%;
  margin-top: 24px;
  overflow-x: hidden;
  margin-bottom: 1em;
  .page-title-wrapper {
    max-width: 700px;
    width:     700px;
    min-height: 1.5em;
  }
  h1 {
    display: inline-block;
  }
}

.content-section-image-wrapper {
  margin-bottom: 1em;
  a {
    display: flex;
    align-items: center;
    color: $base-font-color;
    img {
      width: 20px;
    }
    span {
      font-size: .8em;
      margin-left: .25em;
    }
  }
}

.content-actions {
  display: none;
  @include MQ(M) {
    display: flex;
    float:right;
  }
}

.content-header-links-wrapper {
  display: none;
  @include MQ(M) {
    display: inline-block;
  }
  height: 1em;
  position:relative;
}
.content-header-links {
  flex-wrap: wrap;
  position:absolute;
  width: auto;
  overflow: visible;
  margin-left: 10px;
  margin-top: 7px;
  height: 20px;
  line-height: 20px;
  text-transform:uppercase;
  a {
    position: relative;
    display: inline-block;
    color: $base-font-color;
    vertical-align: middle;
    @include size(20px);
    line-height: 20px;
    text-align: center;
    padding: 2px 3px;
    border-radius: $button-border-radius;
    @include card(1);
    &:hover {
      color: $default-anchor-color;
    }
    i.icon-pencil {
      position: relative;
      bottom: 9px;
      right: 2px;
      font-size: 13px;
    }
    svg {
      height: 18px;
      width: 18px;
      display: inline;
    }
    &.tooltip.edit-link:hover::before {
      right: -120px;
    }

    &.tooltip.edit-link:hover::after {
      right: -116px;
    }
  }
}

.body-copy {
  margin-top: 0px;
  margin-bottom: 2.5em;
  display: block;
  overflow: visible;
  div + h2 {
    margin-top: 1em;
  }
  em {
    // font-weight: bolder;
    font-weight: inherit;
  }
}
