#search-wrapper {
    // @include MQ(M) { flex-wrap: nowrap; }
    display: block;
    margin-top: 5px;
    padding-top: 2px;
    padding-left: 10px;
    margin-left: 10px;
    #search-form,
    #search-button,
    #search-input{
        height: $site-header-height*0.75;
        line-height: $site-header-height*0.75;
        background-color: darken($site-header-bg-color, 10%);
        border-color: darken($site-header-bg-color, 10%);
        color: white;
        display: inline-block;
    }
    #search-form {
        width: 220px;
    }
    #search-input, #search-button {
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 0 auto;
    }
    #search-button {
        width: 30px;
        margin-right:0;
        cursor: pointer;
    }
    #search-input {
        display: none;
        padding-left: 10px;
        width: 170px;
        display: inline-block;
        &.open { display: inline-block;}
    }
    @include MQ(M) {
        #search-form {
                     width: 40px;
            &.open { width: 640px; }
        }
        #search-input {
            display: none;
            width: 480px;
        }
    }
}

#search-wrapper,
#search-form,
#search-results-wrapper {
  transition: all .3s ease-in-out;
  background-color: darken($site-header-bg-color, 10%);
  background-color: darken($site-header-bg-color, 10%);
  border-radius: 0.52rem;
  border-color: darken($site-header-bg-color, 10%);
}

#search-results-wrapper {
    position:fixed;
    top: 45px;
    left: 0px;
    width: 100%;
    @include MQ(M) {
        left: 80px;
        width: 90%;
    }
    display:none;
    z-index:999999;
    &.open {
        display:block;
    }
    max-height: 480px;
    overflow-y: scroll;
  padding-top: 0px;
    padding-bottom: 2px;
    @include MQ(L) {
        width: 50%;
        left: 320px;
    }
    @include MQ(M) {
        width: 640px;
    }
   &,
  #search-results,
  #search-results-count {
    overflow-y: scroll;
  }
  #search-results,
  #search-results-count {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

#search-results-count {
    position: relative;
    display: block;
    background-color: rgba(83,109,254,.1);
    color: $search-result-title-color;
}
#search-results {
    li {
        padding-top: 4px;
        padding-bottom: 3px;
        position: relative;
        display: block;
        &:hover,
        &:focus,
        &:active {
            cursor: pointer!important;
            background-color: rgba(83,109,254,.1);
            margin-left: -1px;
        }
        list-style: none inside none;
        border-bottom: 1px solid $search-result-border-color;
        h5 {
            margin-bottom: 2px;
            a {
                line-height: normal;
                font-weight: bold;
                color: $search-result-title-color;
                &:hover { cursor: pointer!important; }
                &:focus {
                    h5 {
                        background-color: $search-result-title-background-color-hover;
                        margin-left: -1px;
                        width: calc(100% + 2px);
                    }
                }
            }
        }
        p {
            flex-grow: 1;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 2px;
            margin-bottom: 0px;
        }
        div.in-section {
            display: inline;
            color: black;
            font-size:90%;
            float:right;
            margin-right:20px;
        }
        //see _icons.scss for span.tags-icon
        &.none {
            display:none;
            border: 3px solid $warning-color;
            padding-left: 10px;
        }
    }
    ul.tags {
        display:none;
        margin-bottom: 0;
        margin-top: 0;
        @include MQ(M) { display:block; }
        li {
            width: auto;
            display:inline-block;
            border: 0px;
            margin: 0;
            padding: 0;
            // fontello icon
            .icon-tags { color: $cap-black; }
            // only show mobile-plus size since tags are hidden
            // in search overlay for mobile.
            a.tag { color: $tag-font-color; }
        }
    }
}

.tagsspacer {
    clear:both;
}

// vim: set et:
