#all-content-wrapper.home {
  margin-top: 50px;
  @include MQ(M) {
  }
  main#homepage.main {
    width: 100vw;
    min-width: 100vw;
  }
}

.half {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $L * .4;
}

.half.half-content {
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 30px;
  h2 {
    width: 100%;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    line-height: 1.3;
    // margin-top: 40px;
    @include MQ(M) {
      margin-top: 0px;
    }
  }
  p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  hr,
  .hr {
    border: 0;
    height: 1px;
    opacity: 1;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 100%;
    margin: {
      bottom: 2.5em;
      top: 2.5em;
    }
  }
}

.svgs {
  display: flex;
  justify-content: space-around;
  position: relative;
  // opacity: 0;
  svg,
  .img-wrapper {
    max-width: 45%;
    max-width: 140px;
    // min-width: 150px;
    &#markdown {
      margin-top: 30px;
    }
  }
  @include MQ(L) {
    margin-top: 3.5em;
  }
}

svg {
  .cape {
    // opacity: 0;
  }
}

.eyes {
  animation: squeeze 2.4s infinite;
}

@keyframes squeeze {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(70px) scaleY(.1);
  }
  100% {
    animation-timing-function: ease-out;
  }
}

.no-js {
  opacity: 1!important;
}
