<div class="content-header-links">
  {{ $lrepo := .Site.Params.ghrepo | lower }}
  {{- if findRE "github" $lrepo }}
  <a target="_blank" class="tooltip right edit-link" data-tooltip="Edit this page on GitHub" href="{{.Site.Params.edit_link}}/{{.File.Path}}"><i class="icon-pencil" aria-hidden="true"></i></a>
  {{- end }}
  {{- if findRE "gitlab" $lrepo }}
  <a target="_blank" class="tooltip right edit-link" data-tooltip="Edit this page on GitLab" href="{{.Site.Params.edit_link}}/{{.File.Path}}"><i class="icon-pencil" aria-hidden="true"></i></a>
	{{- end -}}
</div>
