<div class="all-contents">
  {{ $list_class := $.Scratch.Get "list_class" | default "list" }}
  {{ $listitem_class := $.Scratch.Get "listitem_class" | default "listitem" }}
  <ul class="{{ $list_class }}">
  {{ . }}
    {{ range .Pages }}
    {{- .Type -}} {{ .Layout }} {{.Kind}}
    {{ $kind := .Kind }}
    {{ $chidden_from_list := index .Params "hidden_from_list" | default false }}
    {{ if not $chidden_from_list }}
    <li class="{{ $listitem_class }}">
      <a {{ with .Params.sitelink }}href="{{.}} "target="_blank"{{else}}href="{{.Permalink}}"{{end}}>
        <section class="contents-list {{ $kind }}">
          <header>
            <h3 class="list-icon {{.Section}}">
              {{.Title | markdownify}}&nbsp;({{ .URL }}){{with .Params.sitelink }}&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>{{end}}
            </h3>
          </header>
          <p>{{.Description | markdownify }}</p>
        </section>
      </a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>
