<!--layouts/partials/site_header/site_search_form.html-->
<!--BEGIN FORM-->
<a href="#" id="search-button" role="button">
	<span> Press <em>S</em> to search</span><i class="icon-search">
</i>
</a>
<form action=""
	id="site-search"
	class="search-form"
	role="search">
	<a href="#" id="close-search"><i class="icon-cancel"></i></a>
	<input type="search"
			id="search-input"
			aria-label="Search the {{ .Site.Title }} website..."
			class="site-search"
			autocomplete="off"
			placeholder="Search documentation..." required>
		<ul id="search-results">
	         <!-- The following <li> can be uncommented for styling purposes, but these reflect the same css classes included in the script. -->
		    <!-- <li class="search-result">
		        <a href="#"><h5>Sample Search Result Heading</h5></a>
		        <p>Here is a simple description area that should be kept relatively short, but just in case, let's make this a little bit longer.</p>
		        <div class="in-section">Found in: Digital Content Writers Guide</div>
		        <ul class="tags">
		            <li><i class="icon-tags"></i></li>
		            <li><a href="#" class="tag">sushi</a></li>
		            <li><a href="#" class="tag">japanese</a></li>
		        </ul>
		    </li> -->
		</ul>
    <div class="press-escape"
         title="Press Escape to Close the Site Search Overlay">Press <em>ESC</em> to close.</div>
</form>
