<div class="navbutton__wrapper">
  <a class="trigger" href="#">
    <ul class="nav__trigger">
      <li class="nav__trigger-item nav__trigger-item--first"></li>
      <li class="nav__trigger-item nav__trigger-item--second"></li>
      <li class="nav__trigger-item nav__trigger-item--third"></li>
    </ul>
  </a>
</div>
<div class="site-navigation-wrapper">
  <nav class="site-navigation" id="site-navigation" class="navigation-open">
  {{ $.Scratch.Set "currentPage" . }}
  {{ $.Scratch.Set "currentNode" .Site.Menus.main.ByWeight }}
  {{ partial "site-navigation-start" . }}
  {{ $.Scratch.Set "currentNode" .Site.Menus.main.ByWeight }}
  </nav>
</div>
