<!--layouts/partials/site_header/site_search_form.html-->
<div id="search-wrapper">
  <form action="" id="search-form" role="search">
    <label for="search" class="icon-search" id="search-button"></label>
    <input type="search" id="search-input" class="site-search"
        autocomplete="off"
        aria-label="Search the {{ .Site.Title }} website..."
        placeholder="Search..." required />
    <input type="hidden" id="search-index" value="{{ .Site.HomeAbsURL }}site-index.json"/>
  </form>
</div>
<div id="search-results-wrapper">
  <div id="search-results-count"></div>
  <ul id="search-results">
    <!-- The following <li> can be uncommented for styling purposes, but these reflect the same css classes included in the script. -->
    <!-- <li class="search-result">
      <a href="#"><h5>Sample Search Result Heading</h5></a>
      <p>Here is a simple description area that should be kept relatively short, but just in case, let's make this a little bit longer.</p>
      <div class="in-section">Found in: Digital Content Writers Guide</div>
      <ul class="tags">
        <li><i class="icon-tags"></i></li>
        <li><a href="#" class="tag">sushi</a></li>
        <li><a href="#" class="tag">japanese</a></li>
      </ul>
    </li> -->
  </ul>
</div>
