<!-- TOCs need to be declared explicitly in the front matter of content/*.md
    if the level is below one section -->
{{ if .Params.toc | default true }}
<aside id="toc">
  <div class="toc-inner-wrapper">
    <header class="toc-header">
      <a href="#{{.Title | urlize}}">
        <h3 class="{{.Section}}">{{.Title}}</h3>
      </a>
    </header>
    {{.TableOfContents}}
  </div>
  <div class="fade"></div>
</aside>
<a href="#"
  id="toc-toggle"
  class="toc-open"
  title="Toggle Table of contents..."></a>
{{end}}
