<!--note that I include
  title, subtitle (optional), tags, and description in all my content .md yaml.
Once you get this down, remove the extra white space
because it will cut down your site-index.json file considerably.-->
[{{- range $index, $page := .Site.Pages -}}
{{- if ne $page.Type "json" -}}
  {{- if $index -}}, {{-  end -}}
  {
  "url": {{ $page.Permalink | jsonify }},
  "section": {{ .Section | jsonify }},
  "title": {{ $page.Title | jsonify }},
  "type": "{{.Type}}",
  "description": "{{.Description}}",
  "content": {{ delimit $page.PlainWords " " | jsonify }},
  "subtitle": {{- if $page.Params.subtitle -}}
              {{ $page.Params.subtitle | jsonify }}
              {{- else -}} ""{{ end }},
  "tags": [
  {{- range $tindex, $tag := $page.Params.tags -}}
  {{- if $tindex -}}, {{- end -}}"{{- $tag -}}"{{-  end -}}
  ]
  }
{{ end -}}
{{- end -}}]
